.App {
  background-image: url("https://www.publicdomainpictures.net/pictures/160000/velka/the-maze.jpg");
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: black;
  color: white;
  font-size: 300%;
  height: 15vh;
}
.navButton {
  border-radius: 50%;
  font-size: 50%;
  margin: 10px 25px;
  padding: 15px 30px;
  font-weight: bold;
}
.row {
  display: flex;
  flex-direction: row;
}
.tile {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(228, 226, 226);
}
#display_box {
  display: flex;
  flex-direction: column;
}
.tile_1 {
  border-top: 2px solid black;
  border-left: 2px solid black;
  height: 48px;
  width: 48px;
  background: white;
}
.tile_2 {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  height: 48px;
  width: 48px;
  background: white;
}
.tile_3 {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  height: 48px;
  width: 48px;
  background: white;
}
.tile_4 {
  border-top: 2px solid black;
  border-right: 2px solid black;
  height: 48px;
  width: 48px;
  background: white;
}
.tile_5 {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  height: 48px;
  width: 46px;
  background: white;
}
.tile_6 {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  height: 48px;
  width: 46px;
  background: white;
}
.tile_7 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  height: 46px;
  width: 48px;
  background: white;
}
.tile_8 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  height: 46px;
  width: 48px;
  background: white;
}
.tile_9 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 46px;
  width: 50px;
  background: white;
}
.tile_10 {
  border-right: 2px solid black;
  border-left: 2px solid black;
  height: 50px;
  width: 46px;
  background: white;
}
.tile_11 {
  border-top: 2px solid black;
  height: 48px;
  width: 50px;
  background: white;
}
.tile_12 {
  border-bottom: 2px solid black;
  height: 48px;
  width: 50px;
  background: white;
}
.tile_13 {
  border-left: 2px solid black;
  height: 50px;
  width: 48px;
  background: white;
}
.tile_14 {
  border-right: 2px solid black;
  height: 50px;
  width: 48px;
  background: white;
}
.exampleBox {
  margin-left: 50px;
  width: 140px;
  height: 730px;
  background: rgb(228, 226, 226);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
}
#createMain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.createBox {
  /* border: 2px solid red; */
  width: 70vw;
  background: rgb(228, 226, 226);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.display {
  /* border: 2px solid red; */
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  height: 85vh;
}
.createBox button {
  color: white;
  background: black;
  border-radius: 30%;
  font-weight: bold;
  padding: 10px 5px;
  margin: 10px;
}
.play {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.playBox {
  /* border: 2px solid red; */
  width: 70vw;
  background: rgb(228, 226, 226);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.playButtonBox {
  /* border: 2px solid red; */
  height: 15vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 5vh;
}
.playButton {
  color: white;
  background: black;
  border-radius: 30%;
  font-weight: bold;
  padding: 5px 15px;
  margin: 3px;
  font-size: 130%;
}
