header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
}
.tile {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
}
#display_box {
  display: flex;
  flex-direction: column;
}
.tile_1 {
  border-top: 2px solid black;
  border-left: 2px solid black;
  height: 48px;
  width: 48px;
  background: white;
}
.tile_2 {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  height: 48px;
  width: 48px;
  background: white;
}
.tile_3 {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  height: 48px;
  width: 48px;
  background: white;
}
.tile_4 {
  border-top: 2px solid black;
  border-right: 2px solid black;
  height: 48px;
  width: 48px;
  background: white;
}
.tile_5 {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  height: 48px;
  width: 46px;
  background: white;
}
.tile_6 {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  height: 48px;
  width: 46px;
  background: white;
}
.tile_7 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  height: 46px;
  width: 48px;
  background: white;
}
.tile_8 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  height: 46px;
  width: 48px;
  background: white;
}
.tile_9 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 46px;
  width: 50px;
  background: white;
}
.tile_10 {
  border-right: 2px solid black;
  border-left: 2px solid black;
  height: 50px;
  width: 46px;
  background: white;
}
.tile_11 {
  border-top: 2px solid black;
  height: 48px;
  width: 50px;
  background: white;
}
.tile_12 {
  border-bottom: 2px solid black;
  height: 48px;
  width: 50px;
  background: white;
}
.tile_13 {
  border-left: 2px solid black;
  height: 50px;
  width: 48px;
  background: white;
}
.tile_14 {
  border-right: 2px solid black;
  height: 50px;
  width: 48px;
  background: white;
}
.exampleBox {
  margin-left: 50px;
  width: 140px;
  height: 730px;
  background: lightblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
}
#createMain {
  display: flex;
  flex-direction: row;
}
